<footer class="footer">
  <h2 class="sr-only">Footer</h2>
  <div class="container">
    <div class="row mb-xsmall">
      <div class="col-6 col-md">
        <h3 class="footer__heading mb-xsmall">Auto Territory</h3>
        <ul class="list-unstyled">
          <li><a class="footer__links" href="/about-us">About Us</a></li>
          <li><a class="footer__links" href="/contact-us">Contact Us</a></li>
          <li><a class="footer__links" href="/careers">Careers</a></li>
          <li><a class="footer__links" href="/legal-disclaimer">Disclaimer</a></li>
          <li><a class="footer__links" href="/terms-of-service">Terms Of Service</a></li>
          <li><a class="footer__links" href="/privacy-policy">Privacy Policy</a></li>
          <!-- <li><a class="footer__links" href="/site-map">Site Map</a></li> -->
        </ul>
      </div>
      <div class="col-6 col-md">
        <h3 class="footer__heading mb-xsmall">Tools & Services</h3>
        <ul class="list-unstyled">
          <li><a class="footer__links" href="/cars-for-sale?allCars=%7B%7D&sortBy=price&search=&price%5Bmin%5D=&price%5Bmax%5D=&year=&mileage%5BminMileage%5D=&mileage%5BmaxMileage%5D=">Cars For Sale</a></li>
          <li><a class="footer__links" href="/car-dealerships">Car Dealerships</a></li>
          <li><a class="footer__links" href="/finance-calculator">Finance Calculator</a></li>
          <li><a class="footer__links" href="/advertise">Advertise Cars</a></li>
          <li><a class="footer__links" href="/private-seller">Private Seller</a></li>
          <li><a class="footer__links" href="/car-dealerships/sign-in">Dealership Sign-In</a></li>
        </ul>
      </div>

      <div class="col-6 col-md d-none d-lg-block">
        <h3 class="footer__heading mb-xsmall">Search By Area</h3>
        <ul class="list-unstyled">
          <li><a class="footer__links" href="/cars-for-sale?allCars=%7B%7D&sortBy=price&search=&province%5B%5D=Free+State&price%5Bmin%5D=&price%5Bmax%5D=&year=&mileage%5BminMileage%5D=&mileage%5BmaxMileage%5D=">Free State</a></li>
          <li><a class="footer__links" href="/cars-for-sale?allCars=%7B%7D&sortBy=price&search=&province%5B%5D=Gauteng&price%5Bmin%5D=&price%5Bmax%5D=&year=&mileage%5BminMileage%5D=&mileage%5BmaxMileage%5D=">Gauteng</a></li>
          <li><a class="footer__links" href="/cars-for-sale?allCars=%7B%7D&sortBy=price&search=&province%5B%5D=Mpumalanga&price%5Bmin%5D=&price%5Bmax%5D=&year=&mileage%5BminMileage%5D=&mileage%5BmaxMileage%5D=">Mpumalanga</a></li>
          <li><a class="footer__links" href="/cars-for-sale?allCars=%7B%7D&sortBy=price&search=&province%5B%5D=Kwa-Zulu+Natal&price%5Bmin%5D=&price%5Bmax%5D=&year=&mileage%5BminMileage%5D=&mileage%5BmaxMileage%5D=">Kwa-Zulu Natal</a></li>
          <li><a class="footer__links" href="/cars-for-sale?allCars=%7B%7D&sortBy=price&search=&province%5B%5D=Eastern+Cape&price%5Bmin%5D=&price%5Bmax%5D=&year=&mileage%5BminMileage%5D=&mileage%5BmaxMileage%5D=">Eastern Cape</a></li>
          <li><a class="footer__links" href="/cars-for-sale?allCars=%7B%7D&sortBy=price&search=&province%5B%5D=Northern+Cape&price%5Bmin%5D=&price%5Bmax%5D=&year=&mileage%5BminMileage%5D=&mileage%5BmaxMileage%5D=">Northern Cape</a></li>
          <li><a class="footer__links" href="/cars-for-sale?allCars=%7B%7D&sortBy=price&search=&province%5B%5D=Western+Cape&price%5Bmin%5D=&price%5Bmax%5D=&year=&mileage%5BminMileage%5D=&mileage%5BmaxMileage%5D=">Western Cape</a></li>
          <li><a class="footer__links" href="/cars-for-sale?allCars=%7B%7D&sortBy=price&search=&province%5B%5D=North+West&price%5Bmin%5D=&price%5Bmax%5D=&year=&mileage%5BminMileage%5D=&mileage%5BmaxMileage%5D=">North West</a></li>
          <li><a class="footer__links" href="/cars-for-sale?allCars=%7B%7D&sortBy=price&search=&province%5B%5D=Limpopo&price%5Bmin%5D=&price%5Bmax%5D=&year=&mileage%5BminMileage%5D=&mileage%5BmaxMileage%5D=">Limpopo</a></li>
        </ul>
      </div>
      
      <div class="col-6 col-md">
        <h3 class="footer__heading mb-xsmall">Popular Searches</h3>
        <ul class="list-unstyled">
          <li><a class="footer__links" href="/cars-for-sale?allCars=%7B%7D&sortBy=price&search=&price%5Bmin%5D=&price%5Bmax%5D=&year=&mileage%5BminMileage%5D=&mileage%5BmaxMileage%5D=">Cars For Sale</a></li>
          <li><a class="footer__links" href="/cars-for-sale?allCars=%7B%7D&sortBy=price&search=&price%5Bmin%5D=&price%5Bmax%5D=&bodyType%5B%5D=Hatchback&year=&mileage%5BminMileage%5D=&mileage%5BmaxMileage%5D=">Hatchbacks</a></li>
          <li><a class="footer__links" href="/cars-for-sale?allCars=%7B%7D&sortBy=price&search=&price%5Bmin%5D=20000&price%5Bmax%5D=100000&year=&mileage%5BminMileage%5D=&mileage%5BmaxMileage%5D=">Cheap Cars</a></li>
          <li><a class="footer__links" href="/cars-for-sale?allCars=%7B%7D&sortBy=price&search=&brand%5B%5D=Toyota&carState%5B%5D=Used&price%5Bmin%5D=&price%5Bmax%5D=&year=&mileage%5BminMileage%5D=&mileage%5BmaxMileage%5D=">Toyota Used Cars</a></li>
          <li><a class="footer__links" href="/cars-for-sale?allCars=%7B%7D&sortBy=price&search=&brand%5B%5D=Volkswagen&carState%5B%5D=Used&price%5Bmin%5D=&price%5Bmax%5D=&year=&mileage%5BminMileage%5D=&mileage%5BmaxMileage%5D=">VW Used Cars</a></li>
          <li><a class="footer__links" href="/cars-for-sale?allCars=%7B%7D&sortBy=price&search=&price%5Bmin%5D=&price%5Bmax%5D=&bodyType%5B%5D=Double+Cab+Bakkie&year=&mileage%5BminMileage%5D=&mileage%5BmaxMileage%5D=">Double Cab Bakkies</a></li>
          <li><a class="footer__links" href="/cars-for-sale?allCars=%7B%7D&sortBy=price&search=&price%5Bmin%5D=&price%5Bmax%5D=&bodyType%5B%5D=Sedan&year=&mileage%5BminMileage%5D=&mileage%5BmaxMileage%5D=">Sedans</a></li>
          <li><a class="footer__links" href="/cars-for-sale?allCars=%7B%7D&sortBy=price&search=&price%5Bmin%5D=&price%5Bmax%5D=&bodyType%5B%5D=SUV&year=&mileage%5BminMileage%5D=&mileage%5BmaxMileage%5D=">SUVs</a></li>
          <li><a class="footer__links" href="/cars-for-sale?allCars=%7B%7D&sortBy=price&search=&brand%5B%5D=BMW&carState%5B%5D=Used&price%5Bmin%5D=&price%5Bmax%5D=&year=&mileage%5BminMileage%5D=&mileage%5BmaxMileage%5D=">BMW Used Cars</a></li>
        </ul>
      </div>

      <div class="col-6 col-md">
        <h3 class="footer__heading mb-xsmall">Follow Us</h3>
        <ul class="list-unstyled">
          <li class="footer__list-item">
            <a class="footer__links" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/AutoTerritorySA/">
              <svg class="footer__icon" focusable="false" role="img" aria-label="Placeholder: facebook">
								<use xlink:href="/images/symbol-defs.svg#icon-facebook"></use>
							</svg>
              <span>Facebook</span>
            </a>
          </li>
          
          <li class="footer__list-item">
            <a class="footer__links" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/AutoTerritorySA/">
              <svg class="footer__icon" focusable="false" role="img" aria-label="Placeholder: instagram">
								<use xlink:href="/images/symbol-defs.svg#icon-instagram"></use>
							</svg>
              <span>Instagram</span>
            </a>
          </li>

          <li class="footer__list-item">
            <a class="footer__links" target="_blank" rel="noopener noreferrer" href="https://twitter.com/AutoTerritorySA">
              <svg class="footer__icon" focusable="false" role="img" aria-label="Placeholder: twitter">
								<use xlink:href="/images/symbol-defs.svg#icon-twitter"></use>
							</svg>
              <span>Twitter</span>
            </a>
          </li>

          <li class="footer__list-item">
            <a class="footer__links" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/auto-territory-sa-a71652216/">
              <svg class="footer__icon" focusable="false" role="img" aria-label="Placeholder: linkedin">
								<use xlink:href="/images/symbol-defs.svg#icon-linkedin"></use>
							</svg>
              <span>LinkedIn</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- sa covid-19 virus -->
    <div class="footer__covid text-center">
      <img 
        src="/images/covid-sa-logo.png" 
        class="footer__covid-logo mb-xxsmall"
        alt="sa covid-19 logo" 
        title="learn more about covid-19 in sa"
        loading="lazy"
        width="728"
        height="121"
      />
       
      <p>For news and information regarding <strong class="color-primary">Covid-19</strong> in South Africa, visit <a class="color-primary text-bold" href="https://sacoronavirus.co.za" target="_blank" rel="noopener noreferrer">sacoronavirus.co.za</a>.</p>
    </div>
    <!-- sa covid-19 virus -->

    <hr class="footer__hr">

    <div class="row">
      <div class="copyright">
        <p class="copyright__text">Copyright &copy; <%= new Date().getFullYear() %> Auto Territory. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>