<footer class="footer">
  <h2 class="sr-only">Footer</h2>
  <div class="container">
    <div class="row mb-xsmall">
      <div class="col-6 col-md">
        <h3 class="footer__heading mb-xsmall">DM-DMZ Guest House</h3>
        <ul class="list-unstyled">
          <li><a class="footer__links" href="/">Home</a></li>
          <li><a class="footer__links" href="/packages">Our Packages</a></li>
          <li><a class="footer__links" href="/gallery">Gallery</a></li>
          <li><a class="footer__links" href="/about-us">About Us</a></li>
          <li><a class="footer__links" href="/contact-us">Contact Us</a></li>
          <li><a class="footer__links" href="/bookings">Book Now</a></li>
        </ul>
      </div>

      <div class="col-6 col-md">
        <h3 class="footer__heading mb-xsmall">Popular Packages</h3>
        <ul class="list-unstyled">
          <li><a class="footer__links" href="/">Premium Deluxe room</a></li>
          <li><a class="footer__links" href="/">Economy Single Room</a></li>
          <li><a class="footer__links" href="/">Sharing Deluxe Room</a></li>
        </ul>
      </div>

      <div class="col-6 col-md">
        <h3 class="footer__heading mb-xsmall">Terms & Usage</h3>
        <ul class="list-unstyled">
          <li><a class="footer__links" href="/legal-disclaimer">Disclaimer</a></li>
          <li><a class="footer__links" href="/terms-of-service">Terms Of Service</a></li>
          <li><a class="footer__links" href="/privacy-policy">Privacy Policy</a></li>
          <li><a class="footer__links" href="/site-map">Site Map</a></li>
        </ul>
      </div>

      <div class="col-6 col-md">
        <h3 class="footer__heading mb-xsmall">Follow Us</h3>
        <ul class="list-unstyled">
          <li class="footer__list-item">
            <a class="footer__links" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/">
              <svg class="footer__icon" focusable="false" role="img" aria-label="Placeholder: facebook">
								<use xlink:href="/images/symbol-defs.svg#icon-facebook"></use>
							</svg>
              <span>Facebook</span>
            </a>
          </li>
          
          <li class="footer__list-item">
            <a class="footer__links" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/">
              <svg class="footer__icon" focusable="false" role="img" aria-label="Placeholder: instagram">
								<use xlink:href="/images/symbol-defs.svg#icon-instagram"></use>
							</svg>
              <span>Instagram</span>
            </a>
          </li>

          <li class="footer__list-item">
            <a class="footer__links" target="_blank" rel="noopener noreferrer" href="https://twitter.com/">
              <svg class="footer__icon" focusable="false" role="img" aria-label="Placeholder: twitter">
								<use xlink:href="/images/symbol-defs.svg#icon-twitter"></use>
							</svg>
              <span>Twitter</span>
            </a>
          </li>
        </ul>
      </div>
    </div>


    <hr class="footer__hr">

    <div class="row">
      <div class="copyright">
        <p class="copyright__text">Copyright &copy; <%= new Date().getFullYear() %> DM-DMZ Guest House. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>