*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%; // 1 rem = 10px; 10px/16px = 62.5%

	@media only screen and (max-width: $bp-medium) {
		font-size: 58%; // 8px / 16px x 100
	}
	@media only screen and (max-width: $bp-smallest) {
		font-size: 50%; // 8px / 16px x 100
	}
}

body {
	box-sizing: border-box;
	overflow-x: hidden;
}

::selection {
	background-color: $color-primary;
	color: $color-grey-dark-3;
}

section,
footer,
#subscribe {
	padding: 5rem 0;
	@media only screen and (max-width: $bp-medium) {
		padding: 4rem 0;
	}
	@media only screen and (max-width: $bp-smallest) {
		padding: 3.6rem 0;
	}
}

.page-wrapper {
	padding-top: .8rem;
	padding-bottom: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0;
}

.jumbotron {
	padding: 0;
}
