<% layout('layouts/boilerplate') -%>
<!-- page breadcrumb -->
<nav aria-label="breadcrumb" class="breadcrumb__nav">
	<div class="container">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a a class="breadcrumb__link" href="/">Home</a></li>
			<li class="breadcrumb-item" aria-current="page"><span class="breadcrumb__active">About Us - Auto Territory</span></li>
		</ol>
	</div>
</nav>
<!-- page breadcrumb -->

<div class="page-wrapper">
	<div class="container">
		<!-- MAIN SECTION START -->
		<main
			id="main"
			class="main"
			tabindex="-1"
			role="main"
		>
			<!-- page header component -->
			<header class="page-header">
				<div class="page-header__text-box">
					<h1 class="display-4 page-header__heading">About Us - Auto Territory</h1>
				</div>
			</header>
			<!-- page header component -->
			
      <section id="about" class="about p-0">
        <h2 class="car__h2 mb-xsmall">Who We Are</h2>
        <p class="text-bold">AutoTerritory.co.za is a newly launched car magazine/marketplace website that aims to become one of the best vehicle marketing platform in the country.</p>
        <p>
          Auto Territory (autoterritory.co.za) is a part of and was developed by Mnqobi Digital Solutions (Pty) Ltd - a Web Development and Digital Marketing Agency.
					AutoTerritory.co.za was first launched on the 25<sup>th</sup> of July 2021. AutoTerritory.co.za was developed with the purpose of providing car dealerships with 
					professional and affordable Digital Marketing services, and provide car buyers with the best vehicles for-sale deals in South Africa. We also aim to inform, 
					entertian and assist our visitors/users with the latest motoring news and tools that we provide on the website.
        </p>
				<p>
					We are very passionate about Cars and Digital Marketing which makes us dedicated in being the best at what we do. With that said, we boast that our website (autoterritory.co.za)
					is developed and optimised for best and latest Accessibility and SEO (Search Engine Optimization) standards and best practices. We also developed the website to have an awesome 
					looking user interface and easy to use user experience, making your vehicle searching experience easy and fun.
				</p>
				<P>
					We chose to start a car magazine because firstly the CEO is very passionate cars, and secondly because we wanted to add more value to the industry in our special way. We believe
					with the support of our prospective partners, we could help elevate the vehicle industry to the next level and bring online car searching to new markets.
				</P>

				<h2 class="car__h2 mb-xsmall">Our Vission</h2>
        <ul class="list-unstyled">
					<li><span class="text-bold color-secondary">*</span> To become one of the top car magazine/marketplace platform in the country.</li>
					<li><span class="text-bold color-secondary">*</span> To become accessible and available to millions of online surfers looking to purchase a vehicle.</li>
					<li><span class="text-bold color-secondary">*</span> To become a one-stop destination for all vehicle purchasing services.</li>
				</ul>

				<h2 class="car__h2 mb-xsmall">Our Mission</h2>
				<ul class="list-unstyled">
					<li><span class="text-bold color-secondary">></span> To provide affordable, professional and effective Digital Marketing services to our car dealership partners.</li>
					<li><span class="text-bold color-secondary">></span> To provide reliable and accurate cars for-sale deals to online searchers/buyers in the country.</li>
					<li><span class="text-bold color-secondary">></span> To provide best tools and services for our visitors in regards to finding and purchasing a vehicle.</li>
				</ul>

				<h2 class="car__h2 mb-xsmall">Our Values</h2>
				<ul class="list-unstyled">
					<li><span class="text-bold color-secondary">*</span> To always put our users, partners and visitors first.</li>
					<li><span class="text-bold color-secondary">*</span> To always do what we love, enjoy and good at.</li>
				</ul>

				<p class="mb-0 text-bold">To know more about us feel free to <a class="color-secondary" href="/contact-us">contact us</a>.</p>
      </section>
    </main>
  </div>
</div>