<% layout('layouts/boilerplate') -%>
<!-- page breadcrumb -->
<nav aria-label="breadcrumb" class="breadcrumb__nav">
	<div class="container">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a a class="breadcrumb__link" href="/">Home</a></li>
			<li class="breadcrumb-item" aria-current="page"><span class="breadcrumb__active">About Us</span></li>
		</ol>
	</div>
</nav>
<!-- page breadcrumb -->

<div class="page-wrapper">
	<div class="container">
		<!-- MAIN SECTION START -->
		<main
			id="main"
			class="main"
			tabindex="-1"
			role="main"
		>
			<!-- page header component -->
			<header class="page-header">
				<div class="page-header__text-box">
					<h1 class="display-4 page-header__heading">About Us - DM-DMZ GuestHouse</h1>
				</div>
			</header>
			<!-- page header component -->
			
      <section id="about" class="about p-0">
        <h2 class="car__h2 mb-xsmall">Who We Are</h2>
				<div class="row">
          <div class="col-md-6 col-lg-5 contact__img-box mb-small text-center">
            <img src="/images/g3.jpg" alt="..." class="img-thumbnail">
          </div><!-- /.col-md-6 -->

          <div class="col-md-6 col-lg-7">
						<p>
							The mission of DM-DMZ Guesthouse is to become the best choice
							accomodation in & around Clarens by providing quality dedicated
							services to customers.
						</p>
						<p>
							We plan to create an environment of friendliness that will encourage
							our customers to always return, a home away from home. Expanding
							our exposure through quality services.
						</p>
						<P>
							We are located in Clarens, within 16km of Golden Gate Highlands
							National Park and 1,6km of Clarens Golf Estate.
						</P>
						<p class="mb-0 text-bold">To know more about us feel free to <a class="color-secondary" href="/contact-us">contact us</a>.</p>
          </div><!-- /.col-md-6 -->
			</section>
    </main>
  </div>
</div>