<% layout('layouts/boilerplate') -%>
<!-- page breadcrumb -->
<nav aria-label="breadcrumb" class="breadcrumb__nav">
	<div class="container">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a a class="breadcrumb__link" href="/">Home</a></li>
			<li class="breadcrumb-item" aria-current="page"><span class="breadcrumb__active">Booking</span></li>
		</ol>
	</div>
</nav>
<!-- page breadcrumb -->

<div class="page-wrapper">
	<div class="container">
		<!-- MAIN SECTION START -->
		<main
			id="main"
			class="main"
			tabindex="-1"
			role="main"
		>
			<!-- page header component -->
			<header class="page-header">
				<div class="page-header__text-box">
					<h1 class="display-4 page-header__heading">Booking - DM-DMZ Guesthouse</h1>
				</div>
        <p class="lead mt-xsmall">Are you visiting Clarens? Book Accommodation With Us Today!</p>
			</header>
			<!-- page header component -->
			
      <section id="contact" class="contact p-0">
        <div class="row">
          <div class="col-md-6 col-lg-5 contact__img-box mb-small text-center">
            <img
              src="/images/Hotel Booking-amico.svg"
              class="contact__img"
              alt="Contact us illustration"
              title="Auto Territory contact us illustration"
              loading="eager"
              width="540"
              height="540"
            />
            <a href="https://storyset.com/communication" class="sr-only text-dark">Illustration by Freepik Storyset</a>
          </div><!-- /.col-md-6 -->

          <div class="col-md-6 col-lg-7">
            <form
              class="contact__form form__container"
              action="/contact-us"
              method="POST"
            >
              <!-- firstName & lastName -->
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="firstName" class="sr-only">First Name<span class="form-required">*</span>:</label>
                    <input 
                      type="text" 
                      name="firstName"
                      id="firstName" 
                      class="form-control"
                      maxlength="256" 
                      pattern="[a-zA-Z0-9._%+-\s]{2,}"
                      title="Must be a series of alpha-numeric characters and allowed symbols only (min 2, max 256)."
                      placeholder="First Name" 
                      required
                    />
                  </div>
                </div>
                
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="lastName" class="sr-only">Last Name<span class="form-required">*</span>:</label>
                    <input 
                      type="text" 
                      name="lastName"
                      id="lastName" 
                      class="form-control"
                      maxlength="256" 
                      pattern="[a-zA-Z0-9._%+-\s]{2,}"
                      title="Must be a series of alpha-numeric characters and allowed symbols only (min 2, max 256)."
                      placeholder="Last Name" 
                      required
                    />
                  </div>
                </div>
              </div>

              <!-- Email & number  -->
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="email">Email<span class="form-required">*</span>:</label>
                    <input 
                      type="email" 
                      name="email"
                      id="email" 
                      class="form-control"
                      maxlength="150"
                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" 
                      title="Email must follow this pattern: characters@characters.domain (should include '@' sign, '.' followed by atleast 2 characters)."
                      placeholder="" 
                      required
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="contactNr">Cellphone<span class="form-required">*</span>:</label>
                    <input 
                      type="tel"
                      name="contactNr" 
                      id="contactNr"  
                      class="form-control"
                      maxlength="13" 
                      pattern="[+0-9]{9,}" 
                      title="Contact number must be a series of numeric characters (min 9)." 
                      placeholder="" 
                      required
                    />
                  </div>
                </div>
              </div>

              <!-- Check-in & Checkout - type=date -->
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="checkInDate">Check-In Date<span class="form-required">*</span>:</label>
                    <input 
                      type="date" 
                      name="checkInDate" 
                      id="checkInDate" 
                      class="form-control"
                      title="Check-in date must follow a pattern of year/month/day."
                      required
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="CheckoutDate">Check-Out Date<span class="form-required">*</span>:</label>
                    <input 
                      type="date" 
                      name="CheckoutDate" 
                      id="CheckoutDate" 
                      class="form-control"
                      title="Checout date must follow a pattern of year/month/day."
                      required
                    />
                  </div>
                </div>
              </div>

              <!-- Rooms -->
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="package">Package<span class="form-required">*</span>:</label>
                    <select 
                      name="package" 
                      id="package" 
                      class="form-control" 
                      title="Select room package" 
                      required
                    >
                      <option disabled selected value>Choose Package...</option>
                      <option value="Economy Single Room">Economy Single Room: R450/night</option>
                      <option value="Premium Deluxe room">Premium Deluxe room: R650/night</option>
                      <option value="Sharing Deluxe Room">Sharing Deluxe Room: R550/night</option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="package">Secondary Package<span class="form-clue">(Optional)</span>:</label>
                    <select 
                      name="package" 
                      id="package" 
                      class="form-control" 
                      title="Select room package" 
                    >
                      <option disabled selected value>Choose Package...</option>
                      <option value="Economy Single Room">Economy Single Room: R450/night</option>
                      <option value="Premium Deluxe room">Premium Deluxe room: R650/night</option>
                      <option value="Sharing Deluxe Room">Sharing Deluxe Room: R550/night</option>
                    </select>
                  </div>
                </div>
              </div>

              <!-- Guests -->
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="adults">Adults <span class="form-required">*</span>:</label>
                    <input 
                      type="number"
                      name="adults" 
                      id="adults"  
                      class="form-control"
                      min="1"
                      max="6"
                      value="1"
                      maxlength="1" 
                      pattern="[0-9]{3,}"
                      title="Zip code must be a series of numeric characters." 
                      placeholder="Select number of adults" 
                      required
                    />
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="children">Children:</label>
                    <input 
                      type="number"
                      name="children" 
                      id="children"  
                      class="form-control"
                      min="0"
                      max="6"
                      value="0"
                      maxlength="1" 
                      pattern="[0-9]{3,}"
                      title="Zip code must be a series of numeric characters." 
                      placeholder="Select number of children" 
                      required
                    />
                  </div>
                </div>
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn__primary w-100 mt-xsmall">
                  Book Now
                </button>
              </div>
            </form>
          </div><!-- /.col-md-6 -->
        </div>
      </section>
    </main>
  </div>
</div>