<% layout('layouts/boilerplate') -%>
<!-- page breadcrumb -->
<nav aria-label="breadcrumb" class="breadcrumb__nav">
	<div class="container">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a a class="breadcrumb__link" href="/">Home</a></li>
			<li class="breadcrumb-item" aria-current="page"><span class="breadcrumb__active">Contact Us</span></li>
		</ol>
	</div>
</nav>
<!-- page breadcrumb -->

<div class="page-wrapper">
	<div class="container">
		<!-- MAIN SECTION START -->
		<main
			id="main"
			class="main"
			tabindex="-1"
			role="main"
		>
			<!-- page header component -->
			<header class="page-header">
				<div class="page-header__text-box">
					<h1 class="display-4 page-header__heading">Contact Us - DM-DMZ Guesthouse</h1>
				</div>
        <p class="lead mt-xsmall">Do you have any questions about our offerings and services? Feel Free To Contact Us Today!</p>
			</header>
			<!-- page header component -->
			
      <section id="contact" class="contact p-0">
        <div class="row text-center mb-medium">
          <div class="col-md-6 col-xl-3">
            <div class="dealer__contact--container auto__contact--container">
              <svg class="dealer__contact--icon" focusable="false" role="img" aria-label="Placeholder: phone">
                <use xlink:href="/images/symbol-defs.svg#icon-phone"></use>
              </svg>
              <a class="auto__contact--link" href="tel:+27718961768">+27 71 896 1768</a>
            </div>
          </div>
          <div class="col-md-6 col-xl-3">
            <div class="dealer__contact--container auto__contact--container">
              <svg class="dealer__contact--icon" focusable="false" role="img" aria-label="Placeholder: email">
                <use xlink:href="/images/symbol-defs.svg#icon-envelope"></use>
              </svg>
              <a class="auto__contact--link" href="mailto:admin@dm-dmzguesthouse.co.za">admin@dmzguesth.co.za</a>
            </div>
          </div>
          <div class="col-md-6 col-xl-3">
            <div class="dealer__contact--container auto__contact--container">
              <svg class="dealer__contact--icon" focusable="false" role="img" aria-label="Placeholder: email">
                <use xlink:href="/images/symbol-defs.svg#icon-envelope"></use>
              </svg>
              <a class="auto__contact--link" href="mailto:support@dm-dmzguesthouse.co.za">support@dmzguesth.co.za</a>
            </div>
          </div>
          <div class="col-md-6 col-xl-3">
            <div class="dealer__contact--container auto__contact--container">
              <svg class="dealer__contact--icon" focusable="false" role="img" aria-label="Placeholder: map-marker">
                <use xlink:href="/images/symbol-defs.svg#icon-map-marker"></use>
              </svg>
              <span class="auto__contact--text"><small class="auto__contact--address">1174/2 Villier Str, Clarens, 9707</small></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-5 contact__img-box mb-small text-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7012.177927514815!2d28.42189!3d-28.506971!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e8d596b573d5817%3A0xf39694ee0b5783aa!2s1174%2F2%20Villiers%20St%2C%20Clarens%2C%209707!5e0!3m2!1sen!2sza!4v1698429310248!5m2!1sen!2sza" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div><!-- /.col-md-6 -->

          <div class="col-md-6 col-lg-7">
            <form
              class="contact__form form__container"
              action="/contact-us"
              method="POST"
            >
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="name">Name<span class="form-required">*</span>:</label>
                    <input 
                      type="text" 
                      name="name"
                      id="name" 
                      class="form-control"
                      maxlength="256" 
                      pattern="[a-zA-Z0-9._%+-\s]{2,}"
                      title="Must be a series of alpha-numeric characters and allowed symbols only (min 2, max 256)."
                      placeholder="" 
                      required
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="email">Email<span class="form-required">*</span>:</label>
                    <input 
                      type="email" 
                      name="email"
                      id="email" 
                      class="form-control"
                      maxlength="150"
                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" 
                      title="Email must follow this pattern: characters@characters.domain (should include '@' sign, '.' followed by atleast 2 characters)."
                      placeholder="" 
                      required
                    />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="contactNr">Cellphone<span class="form-required">*</span>:</label>
                <input 
                  type="tel"
                  name="contactNr" 
                  id="contactNr"  
                  class="form-control"
                  maxlength="13" 
                  pattern="[+0-9]{9,}" 
                  title="Contact number must be a series of numeric characters (min 9)." 
                  placeholder="" 
                  required
                />
              </div>
          
              <div class="form-group">
                <label for="subject">Subject<span class="form-required">*</span>:</label>
                <select 
                  name="subject" 
                  id="subject" 
                  class="form-control" 
                  title="Select your subscription type" 
                  required
                >
                  <option disabled selected value></option>
                  <option value="Booking Enquiry">Booking Enquiry</option>
                  <option value="General Enquiry">General Enquiry</option>
                </select>
              </div>
          
              <div class="form-group">
                <label for="message">Message<span class="form-required">*</span>:</label>
                <textarea 
                  name="message" 
                  id="message" 
                  class="form-control"
                  rows="5"
                  placeholder=""
                ></textarea>
              </div>
          
              <!-- <div class="form-check form-group border-0">
                <input 
                  type="checkbox"
                  name="subscribe"
                  id="subscribe"
                  class="form-check-input" 
                  value="true" 
                  title="Subscribe To Our Newsletter"
                />
                <label class="form-check-label" for="subscribe"><small>Subscribe To Newsletter</small></label>
              </div> -->
          
              <div class="form-group">
                <button type="submit" class="btn btn__secondary w-100 mt-xsmall">
                  Send Message
                </button>
              </div>
            </form>
          </div><!-- /.col-md-6 -->
        </div>
      </section>
    </main>
  </div>
</div>