<% layout('layouts/boilerplate') -%>
<!-- page breadcrumb -->
<nav aria-label="breadcrumb" class="breadcrumb__nav">
	<div class="container">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a a class="breadcrumb__link" href="/">Home</a></li>
			<li class="breadcrumb-item" aria-current="page"><span class="breadcrumb__active">Our Gallery</span></li>
		</ol>
	</div>
</nav>
<!-- page breadcrumb -->

<div class="page-wrapper">
	<div class="container">
		<!-- MAIN SECTION START -->
		<main
			id="main"
			class="main"
			tabindex="-1"
			role="main"
		>
			<!-- page header component -->
			<header class="page-header">
				<div class="page-header__text-box">
					<h1 class="display-4 page-header__heading">Our Gallery</h1>
				</div>
			</header>
			<!-- page header component -->

      <!-- Gallery section -->
      <section id="gallery" class="p-0">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-md mb-4">
              <img src="/images/g3.jpg" alt="..." class="img-thumbnail">
            </div>

            <div class="col-md-4 col-md mb-4">
              <img src="/images/g1.jpg" alt="..." class="img-thumbnail">
            </div>

            <div class="col-md-4 col-md mb-4">
              <img src="/images/portfolio-2.jpg" alt="..." class="img-thumbnail">
            </div>

            <div class="col-md-4 col-md mb-4">
              <img src="/images/dfd.jpg" alt="..." class="img-thumbnail">
            </div>

            <div class="col-md-4 col-md mb-4">
              <img src="/images/g4.jpg" alt="..." class="img-thumbnail">
            </div>

            <div class="col-md-4 col-md mb-4">
              <img src="/images/room6.jpg" alt="..." class="img-thumbnail">
            </div>

            <div class="col-md-4 col-md mb-4">
              <img src="/images/room11.jpg" alt="..." class="img-thumbnail">
            </div>

            <div class="col-md-4 col-md mb-4">
              <img src="/images/room14.jpg" alt="..." class="img-thumbnail">
            </div>

            <div class="col-md-4 col-md">
              <img src="/images/room15.jpg" alt="..." class="img-thumbnail">
            </div>
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section>
      <!-- Gallery section -->
    </main>
  </div>
</div>