<% layout('layouts/boilerplate') -%>
	<!-- home page header with jumbotron -->
	<header class="jumbotron header">
		<div class="container">
			<div class="header__text-box">
				<h1 class="display-4 heading-primary">The <span class="color-secondary">Best</span> Choice <span class="color-secondary">Accommodation</span></h1>
				<p class="heading-primary__sub-heading">Quality accomodation in & around Clarens, Free State, South Africa!</p>
				<hr class="header__hr">
				<a 
					class="btn btn__primary btn__lg" 
					href="/booking" 
					role="button"
				>
					Book Now!
				</a>
			</div>
		</div>
	</header>
	<!-- home page header with jumbotron -->

	<!-- packages section - all news -->
	<section id="newsReviews">
		<div class="container newsReviews">
			<h2 class="heading-third text-center">Packages</h2>

			<div class="card-deck row">
					<div class="col-md-4 news-blog">
						<div class="card">
							<img 
								src="/images/portfolio-2.jpg" 
								class="card-img rounded-0 news-blog__img" 
								alt="Premium Deluxe Room"
								title="Premium Deluxe Room's image"
								loading="lazy"
								width="800"
								height="220"
							>
							<div class="card-body text-center">
								<a href="booking" class="news-blog__link stretched-link">
									<h3 class="news-blog__title">Premium Deluxe Room</h5> <!-- must be h3 -->
								</a>
								<p class="card-text">R650<small class="text-muted">/night</small></p>
							</div>
						</div><!-- /.card-->
					</div><!-- /.col-md-4 -->

					<div class="col-md-4 news-blog">
						<div class="card">
							<img 
								src="/images/portfolio-1.jpg" 
								class="card-img rounded-0 news-blog__img" 
								alt="Economy Single Room"
								title="Economy Single Room's image"
								loading="lazy"
								width="800"
								height="220"
							>
							<div class="card-body text-center">
								<a href="booking" class="news-blog__link stretched-link">
									<h3 class="news-blog__title">Economy Single Room</h5> <!-- must be h3 -->
								</a>
								<p class="card-text">R450<small class="text-muted">/night</small></p>
							</div>
						</div><!-- /.card-->
					</div><!-- /.col-md-4 -->

					<div class="col-md-4 news-blog">
						<div class="card">
							<img 
								src="/images/portfolio-3.jpg" 
								class="card-img rounded-0 news-blog__img" 
								alt="Sharing Deluxe Room"
								title="Sharing Deluxe Room's image"
								loading="lazy"
								width="800"
								height="220"
							>
							<div class="card-body text-center">
								<a href="booking" class="news-blog__link stretched-link">
									<h3 class="news-blog__title">Sharing Deluxe Room</h5> <!-- must be h3 -->
								</a>
								<p class="card-text">R550<small class="text-muted">/night</small></p>
							</div>
						</div><!-- /.card-->
					</div><!-- /.col-md-4 -->
			</div><!-- /.card-deck row -->
		</div><!-- /.container -->
	</section>
	<!-- packages section -->

	<!-- Our Facilities section -->
	<section id="brandBodyFilters">
		<div class="container brandBodyFilters">
			<h2 class="heading-third">Facilities</h2>
			<div class="row">
				<div class="col-6 col-md">
					<ul class="text-small">
						<li class="brandBodyFilters__links">Free WiFi</li>
						<li class="brandBodyFilters__links">Shared Lounge</li>
						<li class="brandBodyFilters__links">Serves Continental Breakfast</li>
						<li class="brandBodyFilters__links">Private Desk</li>
						<li class="brandBodyFilters__links">Private TV</li>
					</ul>
				</div>

				<div class="col-6 col-md">
					<ul class="text-small">
						<li class="brandBodyFilters__links">Private Bathroom</li>
						<li class="brandBodyFilters__links">Dinning area</li>
						<li class="brandBodyFilters__links">Parking</li>
						<li class="brandBodyFilters__links">Mountain View</li>
					</ul>
				</div>
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>
	<!-- Our Facilities section -->

	<!-- Gallery section -->
	<section id="gallery">
		<div class="container">
			<h2 class="heading-third  text-center">Gallery</h2>
			<div class="row">
				<div class="col-md-4 col-md">
					<img src="/images/g3.jpg" alt="..." class="img-thumbnail">
				</div>

				<div class="col-md-4 col-md">
					<img src="/images/g1.jpg" alt="..." class="img-thumbnail">
				</div>

				<div class="col-md-4 col-md">
					<img src="/images/dfd.jpg" alt="..." class="img-thumbnail">
				</div>
			</div><!-- /.row -->
			<p class="mb-0 text-bold"><a class="color-secondary" href="/gallery">View More..</a>.</p>
		</div><!-- /.container -->
	</section>
	<!-- Gallery section -->

	<!-- subscribe section -->
	<section id="subscribe" class="jumbotron subscribe">
		<div class="container text-center">
			<h2 class="heading-third">Subscribe To Our Newsletter</h2>
			<p class="lead subscribe__sub-heading">Get The Latest Specials, Promos & Other Updates.</p>
			<form action="/" method="POST">
				<div class="form-row subscribe__form-row">
					<div class="col-md-4 subscribe__input">
						<label for="firstName" class="sr-only">First Name</label>
						<input 
							type="text" 
							name="firstName"
							id="firstName" 
							class="form-control"
							maxlength="256" 
							pattern="[a-zA-Z0-9._%+-\s]{2,}"
							title="Must be a series of alpha-numeric characters and allowed symbols only (min 2, max 256)."
							placeholder="First name" 
							required
						/>
					</div>
					<div class="col-md-4 subscribe__input">
						<label for="email" class="sr-only">Email</label>
						<input 
							type="email" 
							name="email"
							id="email" 
							class="form-control"
							maxlength="150"
							pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" 
							title="Email must follow this pattern: characters@characters.domain (should include '@' sign, '.' followed by atleast 2 characters)."
							placeholder="Email" 
							required
						/>
					</div>
					<div class="col-md-4 subscribe__input">
						<button type="submit" class="btn btn__secondary w-100">
							Subscribe Now!
						</button>
					</div>
				</div>
			</form>
		</div>
	</section>
	<!-- subscribe section -->
</main>
<!-- MAIN SECTION END -->
