<% layout('layouts/boilerplate') -%>
<!-- page breadcrumb -->
<nav aria-label="breadcrumb" class="breadcrumb__nav">
	<div class="container">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a a class="breadcrumb__link" href="/">Home</a></li>
			<li class="breadcrumb-item" aria-current="page"><span class="breadcrumb__active">Our Packages</span></li>
		</ol>
	</div>
</nav>
<!-- page breadcrumb -->

<div class="page-wrapper">
	<div class="container">
		<!-- MAIN SECTION START -->
		<main
			id="main"
			class="main"
			tabindex="-1"
			role="main"
		>
			<!-- page header component -->
			<header class="page-header">
				<div class="page-header__text-box">
					<h1 class="display-4 page-header__heading">Our Packages - DM-DMZ GuestHouse</h1>
				</div>
			</header>
			<!-- page header component -->

      
      <!-- Gallery section -->
      <section id="gallery">
        <div class="container">
          <div class="card-deck row">
            <div class="col-md-4 news-blog">
              <div class="card">
                <img 
                  src="/images/portfolio-2.jpg" 
                  class="card-img rounded-0 news-blog__img" 
                  alt="Premium Deluxe Room"
                  title="Premium Deluxe Room's image"
                  loading="lazy"
                  width="800"
                  height="220"
                >
                <div class="card-body text-center">
                  <a href="booking" class="news-blog__link stretched-link">
                    <h3 class="news-blog__title">Premium Deluxe Room</h5> <!-- must be h3 -->
                  </a>
                  <p class="card-text">R650<small class="text-muted">/night</small></p>
                </div>
              </div><!-- /.card-->
            </div><!-- /.col-md-4 -->
  
            <div class="col-md-4 news-blog">
              <div class="card">
                <img 
                  src="/images/portfolio-1.jpg" 
                  class="card-img rounded-0 news-blog__img" 
                  alt="Economy Single Room"
                  title="Economy Single Room's image"
                  loading="lazy"
                  width="800"
                  height="220"
                >
                <div class="card-body text-center">
                  <a href="booking" class="news-blog__link stretched-link">
                    <h3 class="news-blog__title">Economy Single Room</h5> <!-- must be h3 -->
                  </a>
                  <p class="card-text">R450<small class="text-muted">/night</small></p>
                </div>
              </div><!-- /.card-->
            </div><!-- /.col-md-4 -->
  
            <div class="col-md-4 news-blog">
              <div class="card">
                <img 
                  src="/images/portfolio-3.jpg" 
                  class="card-img rounded-0 news-blog__img" 
                  alt="Sharing Deluxe Room"
                  title="Sharing Deluxe Room's image"
                  loading="lazy"
                  width="800"
                  height="220"
                >
                <div class="card-body text-center">
                  <a href="booking" class="news-blog__link stretched-link">
                    <h3 class="news-blog__title">Sharing Deluxe Room</h5> <!-- must be h3 -->
                  </a>
                  <p class="card-text">R550<small class="text-muted">/night</small></p>
                </div>
              </div><!-- /.card-->
            </div><!-- /.col-md-4 -->
          </div><!-- /.card-deck row -->
        </div><!-- /.container -->
      </section>
      <!-- Gallery section -->
    </main>
  </div>
</div>