*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%; }
  @media only screen and (max-width: 62em) {
    html {
      font-size: 60%; } }
  @media only screen and (max-width: 33.75em) {
    html {
      font-size: 58%; } }

body {
  box-sizing: border-box;
  overflow-x: hidden; }

::selection {
  background-color: #bb935f;
  color: #333333; }

section,
footer,
#subscribe {
  padding: 5rem 0; }
  @media only screen and (max-width: 62em) {
    section,
    footer,
    #subscribe {
      padding: 4rem 0; } }
  @media only screen and (max-width: 33.75em) {
    section,
    footer,
    #subscribe {
      padding: 3.6rem 0; } }

.page-wrapper {
  padding-top: .8rem;
  padding-bottom: 5rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0; }

.jumbotron {
  padding: 0; }

body {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #141414; }

.heading-primary {
  font-family: "Oswald", sans-serif !important;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: .1rem; }
  .heading-primary__sub-heading {
    font-size: 2.2rem;
    margin-bottom: 0; }
    @media only screen and (max-width: 33.75em) {
      .heading-primary__sub-heading {
        display: none; } }

.heading-section {
  font-family: "Oswald", sans-serif !important;
  font-size: 3.4rem;
  font-weight: 500;
  letter-spacing: .1rem;
  text-align: center;
  margin-bottom: 2.4rem; }

.heading-third {
  font-family: "Oswald", sans-serif !important;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: .1rem;
  margin-bottom: 1.6rem; }
  @media only screen and (max-width: 62em) {
    .heading-third {
      margin-bottom: .8rem; } }

.heading-third__link:link, .heading-third__link:visited {
  color: #01751a;
  text-decoration: none; }

.heading-third__link:hover, .heading-third__link:active {
  color: #0d1727; }

.main-blog__title {
  font-family: "Merriweather", serif !important;
  font-size: 2.2rem;
  font-weight: 400; }

.main-blog__link:link, .main-blog__link:visited,
.news-blog__link:link,
.news-blog__link:visited {
  color: #141414;
  text-decoration: none; }

.main-blog__link:hover, .main-blog__link:active,
.news-blog__link:hover,
.news-blog__link:active {
  color: #0d1727; }

.news-blog__title {
  font-family: "Merriweather", serif !important;
  font-size: 1.8rem;
  font-weight: 400; }

.launches-blog__title {
  font-family: "Merriweather", serif !important;
  font-size: 1.8rem;
  font-weight: 400; }
  @media only screen and (max-width: 48em) {
    .launches-blog__title {
      font-size: 1.7rem; } }
  @media only screen and (max-width: 33.75em) {
    .launches-blog__title {
      font-size: 2.6rem !important; } }
  @media only screen and (max-width: 25.875em) {
    .launches-blog__title {
      font-size: 2.2rem !important; } }
  @media only screen and (max-width: 23.4375em) {
    .launches-blog__title {
      font-size: 2.2rem !important; } }
  @media only screen and (max-width: 20em) {
    .launches-blog__title {
      font-size: 1.8rem !important; } }

@media only screen and (max-width: 33.75em) {
  .news-blog__title {
    font-size: 2.2rem; } }

.news-blog__title.larger {
  font-size: 2.2rem; }

.news-blog__title.smaller {
  font-size: 1.7rem; }

.page-header__heading {
  font-family: "Oswald", sans-serif !important;
  font-size: 3.4rem;
  font-weight: 400; }

.blog-page__heading {
  font-family: "Merriweather", serif !important;
  font-size: 3rem;
  font-weight: 400; }

.small__text {
  font-size: 1.4rem; }

.car__price {
  font-family: "Raleway", sans-serif !important;
  font-weight: bold; }
  .car__price-heading {
    font-size: 3rem;
    font-family: "Oswald", sans-serif !important;
    font-weight: normal; }
  .car__price--sidebar {
    font-size: 1.8rem; }

.color-primary {
  color: #bb935f; }

.color-secondary {
  color: #0d1727; }

.color-red {
  color: #e20000; }

.text-bold {
  font-weight: bold; }

.text-italic {
  font-style: italic; }

.lead {
  font-size: 1.8rem;
  font-weight: 400; }

.navbar-active {
  color: #bb935f !important;
  background-color: #414141; }

.mt-medium {
  margin-top: 3.2rem; }

.mt-small {
  margin-top: 1.6rem; }

.mt-xsmall {
  margin-top: .8rem; }

.mb-large {
  margin-bottom: 5rem; }

.mb-medium {
  margin-bottom: 3.2rem; }

.mb-small {
  margin-bottom: 1.6rem; }

.mb-xsmall {
  margin-bottom: .8rem; }

.mb-xxsmall {
  margin-bottom: .6rem; }

.footer {
  background-color: #141414;
  color: #f7f7f7; }
  .footer__heading {
    color: #bb935f;
    font-size: 1.8rem;
    font-weight: 450;
    border-bottom: 2px solid #777777;
    padding-bottom: .8rem; }
  .footer__links {
    display: flex;
    align-items: center; }
    .footer__links:link, .footer__links:visited {
      color: #eeeeee;
      text-decoration: none;
      border-radius: .2rem;
      transition: all .2s; }
    .footer__links:hover, .footer__links:active {
      color: #bb935f; }
  .footer__icon {
    width: 2rem;
    height: 2rem;
    margin-right: .8rem; }
  .footer__covid-logo {
    border-radius: .2rem;
    width: 54rem;
    height: 8.5rem; }
    @media only screen and (max-width: 75em) {
      .footer__covid-logo {
        width: 47rem;
        height: 7rem; } }
    @media only screen and (max-width: 48em) {
      .footer__covid-logo {
        width: 38rem;
        height: 5rem; } }
    @media only screen and (max-width: 33.75em) {
      .footer__covid-logo {
        width: 30rem;
        height: 4.5rem; } }
    @media only screen and (max-width: 20em) {
      .footer__covid-logo {
        width: 25rem;
        height: 4rem; } }
  @media only screen and (max-width: 75em) {
    .footer__body {
      display: none; } }
  .footer__hr {
    border-top: 1px solid #333333; }

.copyright {
  margin: 0 auto; }
  .copyright__text {
    font-size: 1.4rem;
    margin-bottom: 0; }

.header {
  height: 85vh;
  border-radius: 0 !important;
  position: relative;
  margin-bottom: 0;
  background-image: linear-gradient(to right, rgba(13, 41, 87, 0.8), rgba(13, 23, 39, 0.8)), url(../images/main-bg-img.jpg);
  background-size: cover;
  background-position: center; }
  @supports (background-attachment: fixed) or (-webkit-background-attachment: fixed) {
    .header {
      -webkit-background-attachment: fixed;
      background-attachment: fixed; } }
  @media only screen and (max-width: 64em) {
    .header {
      height: 40vh; } }
  @media only screen and (max-width: 62em) {
    .header {
      height: 50vh; } }
  @media only screen and (max-width: 33.75em) {
    .header {
      height: 55vh; } }
  @media only screen and (max-width: 20em) {
    .header {
      height: 60vh; } }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    padding-top: 6rem;
    color: #f7f7f7; }
  .header__hr {
    border-top: 1px solid #777777;
    margin: 3.2rem 0 3.8rem; }
    @media only screen and (max-width: 62em) {
      .header__hr {
        margin: 1.6rem 0 2.2rem; } }
  .header__icon {
    width: 2.4rem;
    height: 2.4rem;
    fill: #f7f7f7;
    margin-right: .8rem; }

.navbar {
  background: #333333;
  border-bottom: 2px solid #bb935f; }
  .navbar-brand:link, .navbar-brand:visited {
    color: #f7f7f7;
    text-decoration: none;
    margin-right: 4rem; }
  .navbar__logo {
    height: 7rem; }
    @media only screen and (max-width: 75em) {
      .navbar__logo {
        height: 8rem; } }
  @media only screen and (max-width: 75em) {
    .navbar-nav {
      margin-top: 1.6rem; } }
  @media only screen and (max-width: 75em) {
    .navbar__btn {
      margin: 1.6rem 0; } }
  @media only screen and (max-width: 62em) {
    .navbar__btn {
      width: 100%;
      margin: 1rem 0; } }

.nav-item:not(:last-child) {
  margin-right: .4rem; }

@media only screen and (max-width: 75em) {
  .nav__link {
    border-bottom: 0.1rem solid #777777 !important; } }

.nav__link:link, .nav__link:visited {
  color: #f7f7f7;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: .2rem;
  transition: all .2s; }
  @media only screen and (max-width: 75em) {
    .nav__link:link, .nav__link:visited {
      padding: 1.6rem; } }
  @media only screen and (max-width: 62em) {
    .nav__link:link, .nav__link:visited {
      padding: 1.2rem; } }

.nav__link:hover, .nav__link:active {
  color: #bb935f !important;
  background-color: #414141; }

.dropdown-menu {
  background-color: #333333;
  border: 0.1rem solid #f7f7f7; }
  @media only screen and (max-width: 62em) {
    .dropdown-menu {
      width: 100%; } }

.dropdown-item {
  display: flex;
  align-items: center; }
  .dropdown-item:link, .dropdown-item:visited {
    font-size: 1.6rem;
    font-weight: bold;
    color: #f7f7f7; }
  .dropdown-item:hover, .dropdown-item:active {
    background-color: #bb935f;
    color: #141414 !important; }
    .dropdown-item:hover .dropdown-icon, .dropdown-item:active .dropdown-icon {
      fill: #141414; }

.dropdown-icon {
  width: 1.8rem;
  height: 1.8rem;
  fill: #f7f7f7;
  margin-right: .8rem; }

.navbar.scrolled {
  background: #333333;
  transition: background 500ms; }
  .navbar.scrolled .navbar-brand:link, .navbar.scrolled .navbar-brand:visited {
    color: #bb935f; }
  .navbar.scrolled .nav-link:link, .navbar.scrolled .nav-link:visited {
    color: #f7f7f7; }
  .navbar.scrolled .nav-link:hover, .navbar.scrolled .nav-link:active {
    color: #bb935f;
    background-color: #414141; }
  .navbar.scrolled .active {
    color: #bb935f !important;
    background-color: #414141; }
  .navbar.scrolled .dropdown-menu {
    background-color: #414141; }

@media only screen and (max-width: 75em) {
  .offcanvas-collapse {
    position: fixed;
    top: 9.8rem;
    /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    overflow-y: auto;
    visibility: hidden;
    background: #333333;
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out; }
  .offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }

.btn__primary {
  /* * click-state */ }
  .btn__primary, .btn__primary:link, .btn__primary:visited {
    background-color: #bb935f;
    color: #141414;
    font-size: inherit;
    padding: .8rem 1.6rem;
    font-weight: bold;
    transition: all .2s;
    border-radius: .2rem;
    border: none;
    cursor: pointer; }
  .btn__primary:hover {
    box-shadow: 0 1rem 2rem rgba(20, 20, 20, 0.2);
    background-color: #a78354; }
  .btn__primary:active, .btn__primary:focus {
    transform: translateY(1px);
    box-shadow: 0 0.5rem 1rem rgba(20, 20, 20, 0.2); }

.btn__secondary {
  /* * click-state */ }
  .btn__secondary, .btn__secondary:link, .btn__secondary:visited {
    background-color: #0d1727;
    color: #f7f7f7;
    font-size: inherit;
    padding: .8rem 1.6rem;
    font-weight: bold;
    transition: all .2s;
    border-radius: .2rem;
    border: none;
    cursor: pointer; }
  .btn__secondary:hover {
    box-shadow: 0 1rem 2rem rgba(20, 20, 20, 0.2);
    background-color: #0d2957;
    color: #f7f7f7 !important; }
  .btn__secondary:active, .btn__secondary:focus {
    transform: translateY(1px);
    box-shadow: 0 0.5rem 1rem rgba(20, 20, 20, 0.2); }

.btn__tertiary {
  /* * click-state */ }
  .btn__tertiary, .btn__tertiary:link, .btn__tertiary:visited {
    background-color: #333333;
    color: #bb935f;
    font-size: inherit;
    padding: .8rem 1.6rem;
    font-weight: bold;
    transition: all .2s;
    border-radius: .2rem;
    border: none;
    cursor: pointer; }
  .btn__tertiary:hover {
    box-shadow: 0 1rem 2rem rgba(20, 20, 20, 0.2);
    background-color: #141414;
    color: #bb935f !important; }
  .btn__tertiary:active, .btn__tertiary:focus {
    transform: translateY(1px);
    box-shadow: 0 0.5rem 1rem rgba(20, 20, 20, 0.2); }

.btn__red {
  /* * click-state */ }
  .btn__red, .btn__red:link, .btn__red:visited {
    background-color: #ee0000;
    color: #f7f7f7;
    font-size: inherit;
    padding: .8rem 1.6rem;
    font-weight: bold;
    transition: all .2s;
    border-radius: .2rem;
    border: none;
    cursor: pointer; }
  .btn__red:hover {
    box-shadow: 0 1rem 2rem rgba(20, 20, 20, 0.2);
    background-color: #e20000;
    color: #f7f7f7 !important; }
  .btn__red:active, .btn__red:focus {
    transform: translateY(1px);
    box-shadow: 0 0.5rem 1rem rgba(20, 20, 20, 0.2); }

.btn__lg {
  font-size: 1.6rem !important;
  padding: 1.6rem 2.4rem !important; }

.alert__container {
  position: relative; }

.alert {
  position: absolute;
  border-radius: 0;
  font-size: 1.6rem;
  margin-bottom: 0;
  top: 8rem;
  right: 0;
  left: 0;
  margin: 0 1.6rem;
  z-index: 100; }

.close {
  font-size: 2rem !important; }

.form__container {
  background-color: #eeeeee;
  padding: 1.6rem;
  border-radius: .2rem; }

.form-reset {
  border: 1px solid #0d1727;
  border-radius: .2rem; }
  .form-reset:link, .form-reset:visited {
    color: #0d1727;
    font-weight: bold;
    margin-bottom: .8rem; }

.form-required {
  font-size: 2rem;
  color: #e20000;
  font-weight: bold; }

.form-clue {
  font-size: 1.2rem;
  color: #0d1727; }

.form-badge {
  display: inline-block;
  margin-left: auto; }

.form-control {
  font-size: 1.6rem;
  color: inherit !important;
  height: auto;
  padding: .8rem 1rem; }
  .form-control:focus {
    border: 0.2rem solid #0d1727;
    box-shadow: 0 0 5px #0d1727; }
  .form-control:focus:invalid {
    border: 0.2rem solid #e20000;
    box-shadow: 0 0 5px #e20000; }

.form-check {
  display: flex;
  align-items: center;
  padding: .2rem 0;
  border-radius: .2rem; }
  .form-check:not(:last-child) {
    border-bottom: 1px solid #eeeeee; }
  .form-check-input {
    top: .6rem;
    margin-left: .4rem; }
    @media only screen and (max-width: 33.75em) {
      .form-check-input {
        top: .4rem;
        margin-left: .4rem; } }
  .form-check-label {
    margin-bottom: 0;
    margin-left: 2.4rem; }
    @media only screen and (max-width: 33.75em) {
      .form-check-label {
        margin-left: 3rem; } }

.sort-form__label {
  margin-right: .8rem; }

.sort-form__btn {
  margin-left: .8rem; }

.accordion__card-header {
  background: #333333;
  color: #f7f7f7; }

.accordion__heading {
  margin-bottom: 0; }

.accordion__btn {
  font-size: 1.4rem;
  color: inherit;
  font-weight: bold;
  text-decoration: none !important;
  transition: all .2s; }
  .accordion__btn:hover, .accordion__btn:active {
    color: #bb935f; }

.breadcrumb {
  border-radius: 0;
  background-color: transparent; }
  .breadcrumb__nav {
    margin-top: 9rem;
    background-color: #eeeeee; }
    @media only screen and (max-width: 75em) {
      .breadcrumb__nav {
        margin-top: 9.8rem; } }
    @media only screen and (max-width: 25.875em) {
      .breadcrumb__nav {
        margin-top: 9.8rem; } }
  .breadcrumb-item + .breadcrumb-item::before {
    color: #333333 !important; }
  .breadcrumb__link:link, .breadcrumb__link:visited {
    color: #141414;
    font-size: 1.4rem;
    text-decoration: none;
    border-radius: .2rem;
    padding: .2rem;
    transition: all .2s; }
  .breadcrumb__link:hover, .breadcrumb__link:active {
    color: #bb935f;
    background-color: #333333; }
  .breadcrumb__active {
    color: #bb935f;
    background-color: #333333;
    font-weight: bold;
    padding: .2rem;
    border-radius: .2rem; }

.page-header {
  margin-bottom: 1.6rem; }
  .page-header__text-box {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .page-header__heading {
    font-size: 3rem; }
  .page-header__price {
    font-family: "Oswald", sans-serif !important;
    font-size: 2.6rem;
    font-weight: 400;
    padding: .4rem 1.6rem;
    background-color: #0d1727;
    color: #f7f7f7;
    width: fit-content;
    margin-left: auto;
    border-radius: .2rem; }
    @media only screen and (max-width: 75em) {
      .page-header__price {
        margin-left: 0;
        margin-top: .8rem; } }

.cars__card--img {
  width: 100%;
  height: 18rem;
  object-fit: cover;
  border-radius: .2rem; }
  @media only screen and (max-width: 75em) {
    .cars__card--img {
      height: 16rem; } }
  @media only screen and (max-width: 48em) {
    .cars__card--img {
      height: 20rem; } }
  @media only screen and (max-width: 33.75em) {
    .cars__card--img {
      height: 28rem; } }
  @media only screen and (max-width: 25.875em) {
    .cars__card--img {
      height: 24rem; } }
  @media only screen and (max-width: 23.4375em) {
    .cars__card--img {
      height: 22rem; } }
  @media only screen and (max-width: 20em) {
    .cars__card--img {
      height: 20rem; } }

.cars__card--body {
  padding: 0;
  margin-left: 1.6rem; }
  @media only screen and (max-width: 48em) {
    .cars__card--body {
      padding: .8rem .8rem 0 .8rem;
      margin-left: 0; } }

.cars__card--title {
  font-family: "Oswald", sans-serif !important;
  font-size: 2.4rem;
  font-weight: 400; }

.cars__card--text {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold; }

.cars__card--no-jusitfy {
  align-items: start; }

.cars__card--price {
  font-family: "Oswald", sans-serif !important;
  font-size: 2.4rem;
  color: #0d1727;
  font-weight: 400; }
  .cars__card--price-container {
    text-align: right; }
    @media only screen and (max-width: 48em) {
      .cars__card--price-container {
        text-align: left;
        margin-bottom: .8rem; } }

.cars__card--icon {
  width: 1.6rem;
  height: 1.6rem;
  fill: #333333;
  margin-right: .8rem; }
  @media only screen and (max-width: 33.75em) {
    .cars__card--icon {
      margin-right: .4rem; } }

.cars__card--location {
  font-size: 1.4rem;
  font-weight: bold; }

.cars__card--hr {
  margin: 1.6rem 0; }

.cars__card--btn {
  /* * click-state */ }
  .cars__card--btn-container {
    text-align: right; }
    @media only screen and (max-width: 48em) {
      .cars__card--btn-container {
        text-align: left;
        margin-top: .8rem; } }
  .cars__card--btn, .cars__card--btn:link, .cars__card--btn:visited {
    background-color: #333333;
    color: #bb935f;
    font-size: inherit;
    font-weight: bold;
    padding: .8rem 1.6rem;
    transition: all .2s;
    border-radius: .2rem;
    border: none;
    cursor: pointer; }
    @media only screen and (max-width: 48em) {
      .cars__card--btn, .cars__card--btn:link, .cars__card--btn:visited {
        width: 100%; } }
  .cars__card--btn:hover {
    box-shadow: 0 1rem 2rem rgba(20, 20, 20, 0.2);
    background-color: #141414; }
  .cars__card--btn:active, .cars__card--btn:focus {
    transform: translateY(1px);
    box-shadow: 0 0.5rem 1rem rgba(20, 20, 20, 0.2); }

.pagination {
  margin-bottom: 0;
  display: flex;
  align-items: center; }
  .pagination__totalPages {
    margin-right: 1.6rem; }

.page-link:link, .page-link:visited {
  color: #333333;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: .2rem;
  transition: all .2s; }

.page-link:hover, .page-link:active {
  color: #bb935f;
  background-color: #414141; }

/* Position the image container (needed to position the left and right arrows) */
.car__img-slider {
  position: relative; }

/* Hide the images by default */
.mySlides {
  display: none; }

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer; }

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none; }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* Number text (1/3 etc) */
.numbertext {
  background-color: #333333;
  color: #f2f2f2;
  font-size: 1.2rem;
  padding: .4rem 1.2rem;
  margin: .3rem .3rem;
  position: absolute;
  top: 0;
  border-radius: .2rem; }

.row:after {
  content: "";
  display: table;
  clear: both; }

/* Six columns side by side */
.column {
  float: left;
  width: 12.5%; }

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6; }

.active,
.demo:hover {
  opacity: 1; }

.marketing__card {
  text-align: center; }
  .marketing__card--text {
    margin-right: .75rem;
    margin-left: .75rem; }
  @media only screen and (max-width: 33.75em) {
    .marketing__card:not(:last-child) {
      margin-bottom: 3.6rem; } }

.marketing__icon {
  width: 8rem;
  height: 8rem;
  fill: #bb935f;
  background-color: #333333;
  padding: .8rem;
  border-radius: .4rem;
  margin-bottom: .8rem; }

#newsReviews {
  background-color: #f7f7f7; }

.newsReviews__hr {
  margin: 3.2rem 0; }
  @media only screen and (max-width: 62em) {
    .newsReviews__hr {
      margin: 1.6rem 0; } }

.main-blog__img {
  width: 100%;
  object-fit: cover; }
  @media only screen and (max-width: 64em) {
    .main-blog__img {
      height: 26rem; } }
  @media only screen and (max-width: 48em) {
    .main-blog__img {
      height: 22rem; } }
  @media only screen and (max-width: 33.75em) {
    .main-blog__img {
      height: 38rem; } }
  @media only screen and (max-width: 25.875em) {
    .main-blog__img {
      height: 30rem; } }
  @media only screen and (max-width: 23.4375em) {
    .main-blog__img {
      height: 26rem; } }
  @media only screen and (max-width: 20em) {
    .main-blog__img {
      height: 22rem; } }

.news-blog__img {
  width: 100%;
  object-fit: cover; }
  @media only screen and (max-width: 64em) {
    .news-blog__img {
      height: 18rem; } }
  @media only screen and (max-width: 48em) {
    .news-blog__img {
      height: 14rem; } }
  @media only screen and (max-width: 33.75em) {
    .news-blog__img {
      height: 38rem; } }
  @media only screen and (max-width: 25.875em) {
    .news-blog__img {
      height: 30rem; } }
  @media only screen and (max-width: 23.4375em) {
    .news-blog__img {
      height: 26rem; } }
  @media only screen and (max-width: 20em) {
    .news-blog__img {
      height: 22rem; } }

@media only screen and (max-width: 48em) {
  .launches-blog__card-body {
    padding: 1rem; } }

.launches-blog__img {
  width: 100%;
  object-fit: cover; }
  @media only screen and (max-width: 64em) {
    .launches-blog__img {
      height: 14rem; } }
  @media only screen and (max-width: 48em) {
    .launches-blog__img {
      height: 12rem; } }
  @media only screen and (max-width: 33.75em) {
    .launches-blog__img {
      height: 16rem; } }
  @media only screen and (max-width: 25.875em) {
    .launches-blog__img {
      height: 16rem; } }
  @media only screen and (max-width: 20em) {
    .launches-blog__img {
      height: 14rem; } }

.launches-blog__title {
  margin-bottom: .8rem; }

.launches-blog__body p {
  margin-bottom: 0;
  font-size: 1.4rem; }

@media only screen and (max-width: 75em) {
  .launches-blog__body {
    display: none; } }

.news-blog,
.launches-blog {
  padding-right: 0;
  padding-left: 0; }
  @media only screen and (max-width: 33.75em) {
    .news-blog,
    .launches-blog {
      padding-right: 1.5rem;
      padding-left: 1.5rem; } }

#brandBodyFilters {
  background-image: linear-gradient(to right, rgba(13, 41, 87, 0.94), rgba(13, 23, 39, 0.94)), url(../images/dfd.jpg);
  background-size: cover;
  background-position: center; }

.brandBodyFilters {
  color: #ffffff; }

.subscribe {
  margin-bottom: 0; }
  .subscribe__sub-heading {
    font-size: 1.8rem; }
  .subscribe__form-row {
    margin-bottom: 0; }
  @media only screen and (max-width: 62em) {
    .subscribe__input:not(:last-child) {
      margin-bottom: .8rem; } }

#cars {
  padding: 0; }

.cars__filters {
  background-color: #0d1727;
  color: #f7f7f7;
  padding: .2rem; }

.cars__results {
  text-align: right;
  margin-bottom: 0; }

.car__h2 {
  font-family: "Oswald", sans-serif !important;
  font-weight: 400;
  font-size: 2.6rem; }

.car__h3 {
  font-family: "Oswald", sans-serif !important;
  font-weight: 400;
  font-size: 2.2rem; }

.car__table {
  margin-bottom: 0; }
  .car__table--td-bold {
    font-weight: bold; }

.car__features--icon {
  width: 1.8rem;
  height: 1.8rem;
  fill: #0d1727;
  margin-right: .8rem; }

.car__disclaimer {
  display: flex; }
  @media only screen and (max-width: 33.75em) {
    .car__disclaimer {
      margin-bottom: 3.2rem; } }
  .car__disclaimer--icon {
    width: 2.2rem;
    height: 2.2rem;
    margin-right: .4rem;
    fill: #bb935f; }
  .car__disclaimer--text {
    font-style: italic;
    margin-bottom: 0; }

.car__features--link:link, .car__features--link:visited {
  color: #0d1727;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: .2rem;
  transition: all .2s; }

.car__dealer--map {
  border: 0;
  height: 20rem;
  width: 100%; }

.car__dealer--car-img {
  width: 100%;
  object-fit: cover; }
  @media only screen and (max-width: 75em) {
    .car__dealer--car-img {
      height: 10rem; } }
  @media only screen and (max-width: 48em) {
    .car__dealer--car-img {
      height: 10rem; } }
  @media only screen and (max-width: 33.75em) {
    .car__dealer--car-img {
      height: 16rem; } }
  @media only screen and (max-width: 25.875em) {
    .car__dealer--car-img {
      height: 14rem; } }
  @media only screen and (max-width: 23.4375em) {
    .car__dealer--car-img {
      height: 14rem; } }
  @media only screen and (max-width: 20em) {
    .car__dealer--car-img {
      height: 13rem; } }

.car__dealer--car-title {
  font-family: "Oswald", sans-serif !important;
  font-weight: 400;
  font-size: 1.6rem; }
  @media only screen and (max-width: 48em) {
    .car__dealer--car-title {
      font-size: 1.6rem; } }
  @media only screen and (max-width: 33.75em) {
    .car__dealer--car-title {
      font-size: 2.2rem;
      margin-bottom: 1rem; } }
  @media only screen and (max-width: 25.875em) {
    .car__dealer--car-title {
      margin-bottom: .8rem; } }
  @media only screen and (max-width: 20em) {
    .car__dealer--car-title {
      font-size: 1.8rem; } }

.car__dealer--car-price {
  font-family: "Oswald", sans-serif !important;
  font-weight: 400;
  font-size: 1.4rem;
  background-color: #0d1727;
  color: #f7f7f7;
  border-radius: .2rem;
  width: fit-content;
  padding: .2rem .8rem; }
  @media only screen and (max-width: 48em) {
    .car__dealer--car-price {
      font-size: 1.6rem; } }
  @media only screen and (max-width: 33.75em) {
    .car__dealer--car-price {
      font-size: 2.2rem; } }
  @media only screen and (max-width: 25.875em) {
    .car__dealer--car-price {
      font-size: 1.8rem; } }

.dealer__contact-person--icon {
  width: 4rem;
  height: 4rem;
  margin-right: .8rem;
  fill: #0d1727; }

.dealer__contact-person--number:link, .dealer__contact-person--number:visited {
  color: #0d1727; }

@media only screen and (max-width: 75em) {
  .dealer__car-milleage {
    display: none; } }

@media only screen and (max-width: 33.75em) {
  .dealer__car-milleage {
    display: block; } }

#dealers {
  padding: 0; }

.dealers__card--img {
  width: 100%;
  object-fit: cover; }
  @media only screen and (max-width: 48em) {
    .dealers__card--img {
      height: 14rem; } }
  @media only screen and (max-width: 33.75em) {
    .dealers__card--img {
      height: 14rem; } }
  @media only screen and (max-width: 25.875em) {
    .dealers__card--img {
      height: 14rem; } }
  @media only screen and (max-width: 20em) {
    .dealers__card--img__title {
      font-size: 1.2rem; } }

#dealer,
#dealer-cars {
  padding: 0; }

@media only screen and (max-width: 33.75em) {
  .dealer__heading {
    margin-bottom: .8rem; } }

.dealer__img {
  width: 100%;
  object-fit: cover; }
  @media only screen and (max-width: 75em) {
    .dealer__img {
      height: 16rem; } }
  @media only screen and (max-width: 48em) {
    .dealer__img {
      height: 20rem; } }
  @media only screen and (max-width: 33.75em) {
    .dealer__img {
      height: 28rem; } }
  @media only screen and (max-width: 25.875em) {
    .dealer__img {
      height: 24rem; } }
  @media only screen and (max-width: 23.4375em) {
    .dealer__img {
      height: 20rem; } }
  @media only screen and (max-width: 20em) {
    .dealer__img {
      height: 18rem; } }

@media only screen and (max-width: 33.75em) {
  .dealer__contact {
    margin-bottom: 1.6rem; } }

.dealer__contact-section {
  background-color: #333333;
  color: #f7f7f7;
  padding: 1.6rem;
  border-radius: .2rem; }

.dealer__contact--container {
  display: flex;
  align-items: center; }

.dealer__contact--icon {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: .8rem;
  fill: #bb935f; }

.dealer__contact--link:link, .dealer__contact--link:visited {
  color: #bb935f; }

.dealer__contact--text {
  margin-left: 2.8rem; }

.dealer__map {
  border: 0;
  border-radius: .2rem;
  width: 100%;
  height: 35rem; }
  @media only screen and (max-width: 75em) {
    .dealer__map {
      height: 28rem; } }
  @media only screen and (max-width: 48em) {
    .dealer__map {
      height: 24rem; } }
  @media only screen and (max-width: 33.75em) {
    .dealer__map {
      height: 28rem; } }
  @media only screen and (max-width: 25.875em) {
    .dealer__map {
      height: 24rem; } }
  @media only screen and (max-width: 23.4375em) {
    .dealer__map {
      height: 20rem; } }
  @media only screen and (max-width: 20em) {
    .dealer__map {
      height: 18rem; } }

.dealer__about {
  background-color: #eeeeee;
  padding: 1.6rem;
  border-radius: .2rem; }

.dealer__email {
  background-color: #f7f7f7;
  padding: 1.6rem;
  border-radius: .2rem; }

.blog-post__dot {
  color: #0d1727;
  font-size: 1.6rem; }

.blog-post__body img {
  width: 100% !important;
  height: auto !important;
  object-fit: contain !important; }

.blog-post__author-img {
  width: 100%;
  object-fit: contain; }
  @media only screen and (max-width: 33.75em) {
    .blog-post__author-img {
      height: 10rem; } }

@media only screen and (max-width: 33.75em) {
  .blog-post__aside-header {
    margin-top: 3.2rem; } }

#blog {
  padding: 0; }

.blog__img {
  width: 100%;
  height: 18rem;
  object-fit: cover; }
  @media only screen and (max-width: 48em) {
    .blog__img {
      height: 16rem; } }

@media only screen and (max-width: 48em) {
  .blog__card-body {
    padding: .8rem; } }

@media only screen and (max-width: 48em) {
  .blog__title {
    font-size: 1.6rem; } }

@media only screen and (max-width: 23.4375em) {
  .blog__title {
    font-size: .8rem;
    margin-bottom: .4rem; } }

.blog__text-container {
  display: flex;
  align-items: center; }

.blog__icon {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: .6rem;
  fill: #333333;
  margin-top: -.2rem; }
  .blog__icon-read {
    width: 2rem;
    height: 2rem;
    margin-left: -.25rem; }

.blog__link-container {
  margin-top: .8rem; }
  @media only screen and (max-width: 48em) {
    .blog__link-container {
      margin-top: .2rem; } }

.blog__link:link, .blog__link:visited {
  color: #0d1727;
  text-decoration: none;
  font-weight: bold;
  margin-top: auto; }

@media only screen and (max-width: 23.4375em) {
  .blog__iphonex-d-none {
    display: none; } }

@media only screen and (max-width: 20em) {
  .blog__xxsmall-d-none {
    display: none; } }

.featured-blog__img {
  width: 100%;
  height: 14rem;
  object-fit: cover; }
  @media only screen and (max-width: 48em) {
    .featured-blog__img {
      height: 12rem; } }
  @media only screen and (max-width: 33.75em) {
    .featured-blog__img {
      height: 14rem; } }
  @media only screen and (max-width: 23.4375em) {
    .featured-blog__img {
      height: 14rem; } }
  @media only screen and (max-width: 20em) {
    .featured-blog__img {
      height: 12rem; } }

.featured-blog__icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: .6rem;
  fill: #333333;
  margin-top: -.2rem; }
  .featured-blog__icon-read {
    width: 2rem;
    height: 2rem;
    margin-left: -.25rem; }

.featured-blog__text {
  font-size: 1.2rem; }

.featured-blog__link-container {
  margin-top: 0; }

.featured-blog__link {
  font-size: 1.4rem; }

#payment {
  color: #bb935f;
  font-weight: bold; }

/* For element with id="payment" */
#graph {
  border: solid #333333 1px;
  border-radius: .2rem; }

/* Chart has a simple border */
th,
td {
  vertical-align: top; }

/* Don't center table cells */
@media only screen and (max-width: 33.75em) {
  .finance-calc__img-box {
    text-align: center !important;
    margin-bottom: 1.6rem; } }

@media only screen and (max-width: 33.75em) {
  .finance-calc__img {
    width: 70% !important; } }

.contact__img {
  width: 100%;
  height: auto;
  object-fit: contain; }
  @media only screen and (max-width: 48em) {
    .contact__img {
      width: 80%; } }

.auto__contact--container {
  background-color: #333333;
  border-radius: .2rem;
  justify-content: center;
  padding: .4rem 0; }
  @media only screen and (max-width: 75em) {
    .auto__contact--container {
      margin-bottom: .8rem; } }

.auto__contact--link:link, .auto__contact--link:visited {
  color: #f7f7f7; }

.auto__contact--text {
  color: #f7f7f7; }

@media only screen and (max-width: 75em) {
  .auto__contact--address {
    font-size: 1.6rem !important; } }

@media only screen and (max-width: 33.75em) {
  .sell-car__card {
    margin-bottom: 3.2rem; } }

.sell-car__card-header {
  display: flex;
  align-items: center;
  justify-content: center; }
  .sell-car__card-header.one {
    background-color: #0d1727;
    color: #f7f7f7; }
  .sell-car__card-header.two {
    background-color: #bb935f;
    color: #333333; }
  .sell-car__card-header.three {
    background-color: #333333;
    color: #bb935f; }

.sell-car__card--icon {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: .8rem; }
  .sell-car__card--icon.one {
    fill: #f7f7f7; }
  .sell-car__card--icon.two {
    fill: #333333; }
  .sell-car__card--icon.three {
    fill: #bb935f; }
