#payment {
	color: $color-primary;
	font-weight: bold;
} /* For element with id="payment" */
#graph {
	border: solid $color-grey-dark-3 1px;
	border-radius: .2rem;
} /* Chart has a simple border */
th,
td {
	vertical-align: top;
} /* Don't center table cells */

.finance-calc__img-box {
	@media only screen and (max-width: $bp-smallest) {
		text-align: center !important;
		margin-bottom: 1.6rem;
	}
}

.finance-calc__img {
	@media only screen and (max-width: $bp-smallest) {
		width: 70% !important;
	}
}
