<% layout('layouts/boilerplate') -%>
<!-- page breadcrumb -->
<nav aria-label="breadcrumb" class="breadcrumb__nav">
	<div class="container">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a a class="breadcrumb__link" href="/">Home</a></li>
			<li class="breadcrumb-item" aria-current="page"><span class="breadcrumb__active">Admin Sign Up</span></li>
		</ol>
	</div>
</nav>
<!-- page breadcrumb -->

<div class="page-wrapper">
	<div class="container">
		<!-- MAIN SECTION START -->
		<main
			id="main"
			class="main"
			tabindex="-1"
			role="main"
		>
			<!-- page header component -->
			<header class="page-header">
				<div class="page-header__text-box">
					<h1 class="display-4 page-header__heading mb-xxsmall">Admin Sign Up</h1>
				</div>
        <p>The Website Admin Of DM-DMZ Guest House is the one that must sign-up here.</p>
			</header>
			<!-- page header component -->
			
      <section id="sign-up" class="sign-up p-0">
				<div class="row justify-content-center">
					<div class="col-md-10">
						<div class="form__container">
							<span class="badge badge-dark form-badge"><span class="form-required">*</span> = Required Form Field</span>
							<form 
								action="/admin/sign-up" 
								method="POST"
							>
								<div class="form-group">
									<label for="username">Username<span class="form-clue"> (remember your username! you use it to sign in)</span> <span class="form-required">*</span>:</label>
									<input 
										type="text"
										name="username" 
										id="username"  
										class="form-control"
										maxlength="256" 
										pattern="[a-zA-Z0-9._%+-\s]{2,}"
										title="Must be a series of alpha-numeric characters and allowed symbols only (min 2, max 256)."
										placeholder="Enter your username" 
										required
									/>
								</div>

								<div class="form-group">
									<label for="email">Email <span class="form-required">*</span>:</label>
									<input 
										type="email" 
										name="email"
										id="email" 
										class="form-control"
										maxlength="150"
										pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" 
										title="Email must follow this pattern: characters@characters.domain (should include '@' sign, '.' followed by atleast 2 characters)."
										value="<%= email %>" 
										placeholder="Enter email" 
										required
									/>
								</div>
							
								<div class="form-group">
									<label for="password">Password <span class="form-required">*</span>:</label>
									<input 
										type="password"
										name="password" 
										id="password"  
										class="form-control"
										pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
										title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" 
										placeholder="Enter new password" 
										required
									/>
								</div>
							
								<div class="form-group">
									<button type="submit" id="form-btn" class="btn btn__secondary w-100 mt-xsmall">
										Sign Up As Admin
									</button>
								</div>
							</form>

							<div class="text-center">
								<p>Or You Already Have An Account?</p>
								<a href="/admin/sign-in">Sign In</a>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
</div>

